.item-div{
    border: solid 1px #dbdbdb;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: left
}
.item-div{
    display:inline-block;
}
.item-div img {
    width: 600px;
    height: 600px;
}